@import 'tailwindcss';

/* @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '..*.blade.php';
/* @source '../**.js'; */

/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */

/* Sidebar default hidden di mobile */
/* @media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
        transition: left 0.3s ease-in-out;
        z-index: 1050;
    }
    .sidebar.active {
        left: 0;
    }

    #content-wrapper {
        transition: margin-left 0.3s ease-in-out;
    }
    #content-wrapper.shifted {
        margin-left: 250px;
    }
} */
